# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Poetry / uv
.python-version       
.uv/  
.python-version
.poetry/
pdm.lock
.pdm-build/

# Test / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz

# IDE / editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Node / frontend (falls frontend im Projekt ist)
node_modules/
dist/

**/*.tsv
**/*.gz
# allow test data files as they are small and necessary for tests
!src/backend/search_engine/index_builder/test_data/*.tsv
!src/backend/search_engine/index_builder/test_data/*.gz

/src/backend/search_engine/index_builder/build/
/src/backend/search_engine/index_builder/data/
/src/backend/search_engine/index/bin/
